*~
*.o
*.dSYM
acct
cat36
check
classify-tape
constantinople
cross
dart
dis10
dskdmp
dump
dumper
harscntopbm
ipak
itsarc
kldcp
klfedr
libfiles.a
linum
lodepng.c
lodepng.h
macdmp
macro-tapes
magdmp
magfrm
mini-dumper
od10
old-cpio
rskini
palx
scrmbl
tape-dir
tendmp
tito
tvpic
unscr
