*~
*.o
cat36
ipak
itsarc
dis10
magdmp
magfrm
dskdmp
macdmp
macro-tapes
tape-dir
harscntopbm
palx
kldcp
klfedr
libfiles.a
scrmbl
unscr
tvpic
lodepng.h
lodepng.c
tito
dart
od10
cross
dump
check
constantinople
dumper
mini-dumper
linum
tendmp
acct
decdmp
