*~
*.o
conv36
bin2ascii
bin2x
ipak
its2bin
its2x
its2rim
its2ascii
itsarc
dis10
magdmp
magfrm
dskdmp
macdmp
macro-tapes
tape-dir
harscntopbm
palx
tracks
kldcp
klfedr
libfiles.a
libwords.a
scrmbl
unscr
tvpic
lodepng.h
lodepng.c
tito
